html, body, div#root {
    height: 100%;
    width: 100%;
}

.Lema {
    display: flex;
    flex-flow: column;
    height: 100%;
}

span[title] {
    margin: 0px 0.3em;
    text-decoration: underline 1px dashed black;
}

/* Banner */
div.banner-container {
    display: flex;
    flex-flow: row;
    border-bottom: 1px solid black;
}
div.banner-container h2 {
    flex-basis: 60%;
}
div.banner-container p {
    display: flex;
    align-items: center;
    flex-basis: 20%;
}
div.banner-container div.buttons-container {
    display: flex;
    flex-basis: 20%;
    justify-content: space-evenly;
    align-items: center;
}
div.banner-container div.buttons-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}
div.banner-container div.buttons-container div:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
}

/* Main View */
div.main-view-container {
    display: flex;
    flex-flow: row;
    height: 100%;
}

div.left-bar-container {
    flex-basis: 25%;
    display: flex;
    flex-flow: column;
    border-right: 1px solid black;
    padding: 0.2em;
}

div.map-container {
    flex-basis: 75%;
}

/* Search */
div.search-container {
    display: flex;
    flex-flow: row wrap;
    padding: 0.2em;
}
div.search-container div.search-fields {
    display: flex;
    flex-flow: row;
    flex-basis: 100%;
    justify-content: space-evenly;
}
div.search-container div.search-fields div.textbox, div.search-container div.search-fields select {
    flex-basis: 48%;
}
div.search-container div.affixes-selection {
    display: flex;
    flex-flow: row wrap;
    flex-basis: 100%;
}
div.search-container div.mode-selection {
    display: flex;
    flex-flow: row;
}

div.search-container div.textbox {
    flex-basis: 100%;
}
div.search-container div.textbox input {
    width: 97%;
}
div.search-container div.mode-selection div.radio-group {
    display: flex;
    flex-flow: row;
}
div.radio-group div.radio-button {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-right: 0.1em;
}

div.button button#search {
    width: 8em;
}


/* CollectionArea */
div.collections-container {
    display: flex;
    flex-flow: column;
    padding: 0.2em;
    border-top: 1px solid black;
    align-items: center;
    overflow-y: auto;
}
div.collections-container div.header-container
{
    display: flex;
    align-items: center;
}
div.collections-container div.header-container h3
{
    margin-right: 0.5em;
}
div.collection-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;
}
div.collection-header {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100%;
    background-color: #c4c4c4;
    border: 1px solid black;
    padding: 0.7em 0;
}
div.collection-header div {
    display: flex;
    flex-flow: row;
    flex-basis: 33%;
    justify-content: center;
    text-align: center;
}
div.collection-header div.meatball-collapser-container div {
    flex-basis: 15%;
}

div.collection-node {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100%;
    background-color: rgba(196,196,196,0.5);
    border: 1px solid black;
    padding: 0.7em 0;
}
div.collection-node div {
    display: flex;
    flex-flow: row;
    flex-basis: 33%;
    justify-content: center;
    text-align: center;
}
div.collection-node div.buttons-container div {
    flex-basis: 15%;
}

/* Modals */
div.modal-container {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
div.modal {
    display: flex;
    flex-flow: column wrap;
    border: 2px solid #000000;
    padding: 1em;
    box-shadow: 0px 0px 15px 1px;
    align-items: center;
    background-color: white;
}

div.modal * {
    margin: 0;
}
div.modal input[type=color] {
    height: 1.75em;
    width: 1.75em;
}
div.modal div.top {
    display: flex;
    flex-flow: row;

    flex-basis: 90%;
}
div.modal div.top div.left, div.modal div.top div.right {
    display: flex;
    flex-flow: column;
}
div.modal div.top div.left h2, div.modal div.top div.right h2, div.modal div.top div.left h3, div.modal div.top div.right h3 {
    align-self: center;
}
div.modal div.top div.left {
    width: 20em;
}
div.modal div.top div.right {
    width: 20em;
}
div.modal div.top div.node-data, div.modal div.top div.login-register-data, div.modal div.top div.node-appearance {
    margin: 1em 0;
}
div.modal div.top div.login {
    width: 22em;
}
div.modal div.top div.register {
    width: 28em;
}

div.modal div.top div.left div.section, div.modal div.top div.right div.section {
    display: flex;
    flex-flow: column;
    margin-bottom: 0.5em;
}
div.modal div.section div.form {
    display: flex;
    flex-flow: column;
}
div.modal div.section div.form div.label {
    flex: 1;
}
div.modal div.section div.form div.control {
    flex: 2;
}
div.modal div.section div.form div.labeled-control {
    display: flex;
    flex-flow: row;
    align-items: center;
}
div.modal div.section div.form div.labeled-control.separate-line
{
    flex-flow: column;
    align-items: start;
}
div.modal div.section div.form div.labeled-control div.control {
    display: flex;
    flex-flow: row;
}
div.labeled-control.separate-line div.label, div.labeled-control.separate-line div.control,
div.labeled-control.separate-line div.control div.textbox, div.labeled-control.separate-line div.control div.textbox input {
    width: 100%;
}

div.modal div.section div.parent-node-list {
    display: flex;
    flex-flow: column;

    overflow-y: auto;
}
div.modal div.section div.parent-node-list div.parent-node {
    display: flex;
    flex-flow: row;
}
div.modal div.section div.parent-node-list div.parent-node div.word {
    flex: 3;
}
div.modal div.section div.parent-node-list div.parent-node div.buttons {
    display: flex;
    flex-flow: row;
    flex: 1;
}
div.modal div.bottom {
    display: flex;
    flex-flow: row;
    width: 100%;
    justify-content: center;
    align-items: center;

    flex-basis: 10%;
}

/* Save modal */
div.modal div.map-data div.labeled-control div.label {
    flex-basis: 15%;
}

/* Context menu */
div.context-menu-container {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
div.context-menu {
    position: absolute;
    left: 0; /* Initial - set by code later */
    top: 0;  /* Initial - set by code later */
    background-color: #7cdf7c;
    border: 1px solid black;
}
div.context-menu div.context-menu-item {
    border-bottom: 1px solid black;
    padding: 0.2em;
    cursor: pointer;
    user-select: none;
}
div.context-menu div.context-menu-item:hover {
    background-color: #d6f5d6;
}
div.context-menu div.context-menu-item:last-child {
    border-bottom: none;
}

/* Map */
div.map-container * {
    user-select: none;
}

/* Button.jsx */
div.button {

}
div.button.disabled {

}