html, body, div#root {
    height: 100%;
    width: 100%;
}

.Lema {
    display: flex;
    flex-flow: column;
    height: 100%;
}

span[title] {
    margin: 0px 0.3em;
    text-decoration: underline 1px dashed black;
}

/* Banner */
div.banner-container {
    display: flex;
    flex-flow: row;
    border-bottom: 1px solid black;
}
div.banner-container h2 {
    flex-basis: 85%;
}
div.login-register-container {
    display: flex;
    flex-basis: 15%;
    justify-content: space-evenly;
    align-items: center;
}

/* Main View */
div.main-view-container {
    display: flex;
    flex-flow: row;
    height: 100%;
}

div.left-bar-container {
    flex-basis: 25%;
    display: flex;
    flex-flow: column;
    border-right: 1px solid black;
    padding: 0.2em;
}

div.map-container {
    flex-basis: 75%;
}

/* Search */
div.search-container {
    display: flex;
    flex-flow: row wrap;
    padding: 0.2em;
}
div.search-container div.search-fields {
    display: flex;
    flex-flow: row;
    flex-basis: 100%;
    justify-content: space-evenly;
}
div.search-container div.search-fields div.textbox, div.search-container div.search-fields select {
    flex-basis: 48%;
}

div.textbox {
    flex-basis: 100%;
}
div.textbox input {
    width: 97%;
}
div.radio-group {
    display: flex;
    flex-flow: row;
    flex-basis: 76%;
}
div.radio-group div.radio-button {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-right: 0.1em;
}

div.button button#search {
    width: 8em;
}


/* Collections */
div.collections-container {
    display: flex;
    flex-flow: column;
    padding: 0.2em;
    border-top: 1px solid black;
    align-items: center;
    overflow-y: auto;
}
div.collections-container div.header-container
{
    display: flex;
    align-items: center;
}
div.collections-container div.header-container h2
{
    margin-right: 0.1em;
}
div.collection-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;
}
div.collection-header {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100%;
    background-color: #c4c4c4;
    border: 1px solid black;
    padding: 0.7em 0;
}
div.collection-header div {
    display: flex;
    flex-flow: row;
    flex-basis: 33%;
    justify-content: center;
    text-align: center;
}
div.collection-header div.meatball-collapser-container div {
    flex-basis: 15%;
}

div.collection-node {
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100%;
    background-color: rgba(196,196,196,0.5);
    border: 1px solid black;
    padding: 0.7em 0;
}
div.collection-node div {
    display: flex;
    flex-flow: row;
    flex-basis: 33%;
    justify-content: center;
    text-align: center;
}
div.collection-node div.buttons-container div {
    flex-basis: 15%;
}

/* Modals */
div.modal-container {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
div.modal {
    display: flex;
    flex-flow: column wrap;
    border: 2px solid #000000;
    padding: 1em;
    box-shadow: 0px 0px 15px 1px;
    align-items: center;
    background-color: white;
}
div.modal * {
    margin: 0.2em 0;
    vertical-align: middle;
}
div.modal div.textbox, div.modal select {
    width: 100%;
}
div.modal div.label-colour-container {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

/* Context menu */
div.context-menu-container {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
div.context-menu {
    position: absolute;
    left: 0; /* Initial - set by code later */
    top: 0;  /* Initial - set by code later */
    background-color: #7cdf7c;
    border: 1px solid black;
}
div.context-menu div.context-menu-item {
    border-bottom: 1px solid black;
    padding: 0.2em;
    cursor: pointer;
    user-select: none;
}
div.context-menu div.context-menu-item:hover {
    background-color: #d6f5d6;
}
div.context-menu div.context-menu-item:last-child {
    border-bottom: none;
}

/* Map */
div.map-container * {
    user-select: none;
}